.game-palette {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0.1em;
}

.palette-color-button {
    width: 5.125rem;
    aspect-ratio: 1/1;
    transition: transform 0.2s ease-in-out;
}

.palette-color-button:hover {
    transform: scale(1.1);
}

.palette-color-button.border-white { /* Klasa z Twojej logiki IsColorSelected */
    transform: scale(1.15);
    border-width: 3px !important;
}

.btn-reset {
    background: #333;
    color: #ccc;
    border-radius: 50%;
    width: 4.125rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #555;
    transition: all 0.2s ease;
}

.btn-reset:hover {
    background: #444;
    color: white;
    transform: rotate(-90deg);
}

.animate-from-top {
    animation: from-top 0.35s;
}

.animate-from-bottom {
    animation: from-bottom 0.35s;
}

.animate-from-left {
    animation: from-left 0.35s;
}

.animate-from-right {
    animation: from-right 0.35s;
}

.animate-from-top-left {
    animation: from-top-left 0.35s;
}

.animate-from-top-right {
    animation: from-top-right 0.35s;
}

.animate-from-bottom-left {
    animation: from-bottom-left 0.35s;
}

.animate-from-bottom-right {
    animation: from-bottom-right 0.35s;
}

@keyframes from-top {
    from {
        background: radial-gradient(circle at 50% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 50% 0%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom {
    from {
        background: radial-gradient(circle at 50% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 50% 100%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-left {
    from {
        background: radial-gradient(circle at 0% 50%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 50%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-right {
    from {
        background: radial-gradient(circle at 100% 50%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 50%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-top-left {
    from {
        background: radial-gradient(circle at 0% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 0%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-top-right {
    from {
        background: radial-gradient(circle at 100% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 0%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom-left {
    from {
        background: radial-gradient(circle at 0% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 100%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom-right {
    from {
        background: radial-gradient(circle at 100% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 100%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}