.game-palette {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0.1em;
}

.animate-from-top {
    animation: from-top 0.35s;
}

.animate-from-bottom {
    animation: from-bottom 0.35s;
}

.animate-from-left {
    animation: from-left 0.35s;
}

.animate-from-right {
    animation: from-right 0.35s;
}

.animate-from-top-left {
    animation: from-top-left 0.35s;
}

.animate-from-top-right {
    animation: from-top-right 0.35s;
}

.animate-from-bottom-left {
    animation: from-bottom-left 0.35s;
}

.animate-from-bottom-right {
    animation: from-bottom-right 0.35s;
}

@keyframes from-top {
    from {
        background: radial-gradient(circle at 50% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 50% 0%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom {
    from {
        background: radial-gradient(circle at 50% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 50% 100%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-left {
    from {
        background: radial-gradient(circle at 0% 50%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 50%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-right {
    from {
        background: radial-gradient(circle at 100% 50%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 50%, var(--newColor) 150%, transparent 151%) no-repeat, var(--newColor);
    }
}

@keyframes from-top-left {
    from {
        background: radial-gradient(circle at 0% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 0%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-top-right {
    from {
        background: radial-gradient(circle at 100% 0%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 0%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom-left {
    from {
        background: radial-gradient(circle at 0% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 0% 100%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}

@keyframes from-bottom-right {
    from {
        background: radial-gradient(circle at 100% 100%, var(--newColor) 0%, transparent 40%) no-repeat, var(--previousColor);
    }

    to {
        background: radial-gradient(circle at 100% 100%, var(--newColor) 220%, transparent 221%) no-repeat, var(--newColor);
    }
}